<nav class="navbar navbar-expand-lg navbar-light bg-blue-light">
  <div class="container" style="background-color: #ecf3ff !important">
    <a class="navbar-brand" [routerLink]="''" style="max-width: 75%"><img style="max-height: 28px; max-width: 75%"
                                                                          src="https://www.pamono.com/skin/frontend/lamono/redesign/images/logo/pamono-large.png"
                                                                          alt="Antiques, Vintage Furniture and Design at Pamono.com"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let item of navs">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="item.url === '' ? { exact: true } : {}"
             [routerLink]="item.url">
            {{ item.title | uppercase }}
          </a>
        </li>
        <li>
          <form class="form-inline my-2 my-lg-0">
            <div class="input-group">

              <input type="text" class="form-control" aria-describedby="button-addon4">
              <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-secondary" type="button">Search</button>
              </div>
            </div>
          </form>
        </li>
      </ul>
      <app-user-top-menu></app-user-top-menu>
    </div>
  </div>
</nav>
