<div *ngIf="!productList" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div *ngIf="productList">
  <ngb-pagination (pageChange)="goToPage($event)" [collectionSize]="productList.total_items" [(page)]="page" [pageSize]="ps" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
  <ul class="card-columns">
    <li class="card" style="list-style: none" *ngFor="let product of productList.items">
      <img src="{{product.image_urls[0]}}" class="card-img-top" alt="{{product.name}}">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}<span class="badge badge-secondary">$ {{product.price}}</span></h5>
        <p class="card-text">{{product.description}}</p>
        <a routerLink="/products/{{product.id}}" class="btn btn-primary">View product</a>
      </div>
    </li>
  </ul>
  <ngb-pagination (pageChange)="goToPage($event)" [collectionSize]="productList.total_items" [(page)]="page" [pageSize]="ps" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</div>
